.wrapper{
    padding: 33px;
  margin-bottom: 22px;
}

.schedule>img{
  width: 50px;
}

.schedule{
    display: flex;
    width: 250px;
    gap: 32px;
    align-items: center;

}

.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.title>p{
   font-size: 15px;
}

.title{
    width: 228px;
    position: relative;
}


.scheduleDate>h3,.title>h2{
    color: var(--color-primary);
}
.scheduleDate>p,.title>p{
    color: var(--color-para);

}


.verticalLine{
    width: 2px;
    height: 95%;
    background-color:var(--color-para);
    position: absolute;
    left: 120%;
    top: 0;
  
}

@media screen and (max-width: 768px) {
    .wrapper{
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 22px;
    }

    .schedule{
        width: 100%;
        justify-content: space-between;
       
    }
    .verticalLine{
        display: none;
    }
}